body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: purple;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: lightseagreen;
}

.section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.label {
  display: block;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

input[type="date"] {
  padding: 5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.booking-list {
  margin-left: -40px;
  text-align: left;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.booking-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.booking-actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin-right: 5px;
}

.btn-secondary {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
  color: #000;
}

.blocked-dates-list {
  text-align: left;
  margin-left: auto;
}

.blocked-dates-list li {
  margin-bottom: 5px;
}
